Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: {{PACKAGE_NAME}}
Maintainer: Benjamin Oakes <apt@spacebarlabs.com>
Depends: flatpak
Description: {{APP_TITLE}} - Install via Flatpak
  This package installs {{APP_TITLE}} ({{APP_ID}}) via Flatpak.
Postinst: postinst
Prerm: prerm
