name: Lint Package
on: [push, pull_request]

jobs:
  validate-package-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Package Files
        run: ./scripts/lint.sh
